:root{
  /* COLORS for Dark Mode */
    --primary--drk-color: hsl(0, 13%, 57%);
    --drk-color1: hsl(354, 78%, 60%, 1);
    --drk-color2: hsl(292, 51%, 12%);
    --drk-color3: hsl(216, 18%, 35%);
    --drk-icon-color: hsl(0, 0%, 85%);
    --lght-color: hsl(0, 0%, 97%);
    --lght-icon-color: hsl(54, 95%, 61%);
    
    
    /* FONT */
    --font-bold: 700;
    
}

/*======= Button ========*/

.btn_dark {
  background-color: var(--drk-icon-color);
  width: 2.4rem;
  height: 1em;
  border-radius: 10rem;
  padding: 0;
  left: 0;
  
  box-shadow: inset 0 6px 6px var(--primary--drk-color),
              inset 0 0 5px var(--drk-color2),
              inset 0 -4px 4px var(--primary--drk-color); 
  position:relative;
  display: flex;
  align-items: center;
  cursor: pointer;
 
}
.btn__indicator {
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  position: relative;

  box-shadow: 1 .7px 45px var(--drk-icon-color);

  transition: transform .3s ease;
}

.btn__icon-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__icon {
  color: var(--lght-icon-color);
  font-size: var(--font-bold);
}

/*======= ANIMATION ========*/
.btn__icon.animated{
  animation: spin 0.5s;
}

@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}
/*======= DARK MODE ========*/
body.darkmode {
background-color: var(--drk-color2)
}
.darkmode .product__content{
  background-color: var(--drk-color2);
  color: var(--lght-color)
}
.darkmode .product__title{
  color: var(--lght-color)
}
.darkmode .products__title{
  color: var(--lght-color)
}
.darkmode .product__image{
  background-color: var(--drk-color3);
} 

.darkmode .footer.section {
  background-color: hsl(216, 10%, 30%);
    color: var(--lght-color)
}

.darkmode .header {
  background-color: var(--drk-color3);
  transition: 1s;
}
/* darkmode cart */
.darkmode .cart__body {
  background-color: var(--drk-color3);
  color: var(--lght-color);
}

.darkmode .cart__header {
  background-color: hsl(216, 9%, 45%);
    color: var(--lght-color)
}
.darkmode .cart__title {
  color: var(--lght-color)
}
.darkmode .article__title{
  color: var(--lght-color)
}
/* darkmode footer */
.darkmode .footer__title{
  color: var(--lght-color)
}

.darkmode .modal__content {
  background-color: var(--drk-color3);
}
.darkmode .cart__footer{
  background-color: hsl(216, 9%, 45%);
    color: var(--lght-color)
}
.darkmode .btn_dark{
  box-shadow: inset 0 4px 6px var(--drk-color2),
              inset 0 0 6px var(--drk-color2),
              inset 0 -4px 6px var(--drk-color2);
}

.darkmode .btn__indicator{
  transform: translateX(1.3rem);
  background-color: var(--drk-color2);
   
}

.darkmode .btn__icon {
  color: var(--drk-color1);
  font-size: .9rem;
}
/* NavBar animation */
.darkmode .nav-animation {
  background-color: transparent;
  box-shadow: none;
  transition: 1s;
}